<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to pizza-choice</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    
    <h1>WELCOME TO PIZZA CHOICE</h1>
    <h1>Let me help you to find a pizza. First upload the menu :)</h1>
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <button type="submit">Upload Image</button>
    </form>

    {% if image_path %}
	<h1>Now a few questions:</h1>
        <h2>Choose Language</h2>
        <form action="/process_image" method="POST">
            <input type="hidden" name="image_path" id="image_path" value="{{ image_path }}">
            <span>For English write en, Spanish es, French fr and Italian it:</span>
            <input type="text" name="language_code" id="language_code" required>

	    <h2>Ingredients</h2>
	    <span>List the ingredients you don't like, separated by space</span>
	    <input type="text" name="beurk" id="beurk">
	    <br>
            <span>List the ingredients you want, separated by space</span>
            <input type="text" name="miam" id="miam">
	    <br><br>
	    <button type="submit">FIND ME A PIZZA</button>
	</form>
    {% endif %}
</body>
</html>

